body {
  text-align: center;
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 8px rgba(0, 0, 0);
  margin: 0px;
}
body .introduction {
  color: rgb(17, 106, 196);
  text-shadow: 1px 1px 1px violet;
  border: rgb(3, 31, 41);
  border-style: solid;
  border-radius: 10%;
  margin-left: 70%;
  margin-right: 3%;
}
.box {
  position: relative;
  animation-name: animate;
  margin-top: 0%;
  height: 300px;
  background: lightblue;
  animation-duration: 60s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
#box0 {
  animation-name: dog;
  position: absolute;
  bottom: 0%;
  left: 45%;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
#box1 {
  animation-name: but1;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#box2 {
  animation-name: but2;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 3s;
}
#box3 {
  animation-name: but3;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 6s;
}
#mod1 {
  animation-name: mod1;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#mod2 {
  animation-name: mod2;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 5s;
}
#mod3 {
  animation-name: mod3;
  position: absolute;
  bottom: 0%;
  left: 100%;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}
#uul {
  animation-name: uul1;
  position: absolute;
  bottom: 0px;
  left: 100%;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes animate {
  to {
    background: rgb(0, 0, 58);
  }
}
@keyframes dog {
  25% {
    bottom: 0px;
  }
  50% {
    bottom: 2px;
  }
  75% {
    bottom: 0px;
  }
  100% {
    bottom: 2px;
  }
}
@keyframes but1 {
  to {
    left: -100px;
  }
}
@keyframes but2 {
  to {
    left: -100px;
  }
}
@keyframes but3 {
  to {
    left: -100px;
  }
}
@keyframes mod1 {
  to {
    left: -170px;
  }
}
@keyframes mod2 {
  to {
    left: -170px;
  }
}
@keyframes mod3 {
  to {
    left: -170px;
  }
}
@keyframes uul1 {
  to {
    left: -868px;
  }
}
